.menu-action {
    display: flex;
    justify-content: space-between ;
    box-sizing: border-box;
    align-items: center
}
  
.conteiner-selection-sort {
    display: flex;
    align-items: center;

    border: 1px solid #cacaca;
    border-radius: 0.25rem;
}

.conteiner-selection-sort label {
    margin-bottom: 0px;
    padding-left: 10px;
    font-size: 1rem;
    font-family: "Poppins", Arial, sans-serif;
    color: #000000;
}

.conteiner-selection-sort select {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}

.conteiner-selection-sort:hover {
    background-color: #cacaca;
}
